In [0]:
%spark.sql
SELECT app.*, credit.resiko 
        FROM 
        (SELECT id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,    
    name_income_type,name_education_type,name_family_status,name_housing_type,days_birth,
    days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,
              CASE WHEN trim(occupation_type) == '' THEN 'Other' ELSE occupation_type END as occupation_type,
            cnt_fam_members, 
              date_add(current_date(), days_birth) as dob FROM 
                (SELECT distinct * FROM user0.app)) as app 
        JOIN
        (SELECT id, sum(status_new) as resiko from 
            (SELECT id, status, CASE WHEN status in ('C','X','0') THEN 0 ELSE 1 END as status_new FROM user0.credit) 
        GROUP BY id) as credit
        ON app.id = credit.id;

In [1]:
%spark.sql